<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Add the link to the CSS stylesheet here -->
    <!-- Hint: the link is relative to the public folder -->
    <!-- 在使用 Express.js 作为后端框架时，当你设置了静态文件目录后，public 目录下的文件可以直接通过相对路径访问，而不需要在路径 -->
    <link rel="stylesheet" href="/styles/main.css" />

    <title>Band Generator</title>
  </head>

  <body>
    <!-- <main></main> -->
  </body>
</html>
